@tailwind base;
@tailwind components;
@tailwind utilities;

.dvd1 {
    width: 200px;
    animation: moveAndRotate1 5s linear infinite;
}

@keyframes moveAndRotate1 {
    0% {
        transform: rotateY(0deg);
    }
    25% {
        transform: rotateY(90deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    75% {
        transform: rotateY(270deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
